<% include partials/header %>
    <h1>This page is for todo app</h1>

    <div id="todobkg">
        <div id="frame">
            <ul class="content">
                <li class="todoTitle"><h3>Todo List</h3><span><i class="fa fa-plus fa-lg" aria-hidden="true"></i></span></li>
                <form action="todo/" method="post">
                    <input type="text" placeholder="Add an item" name="content">
                </form>
                <% todoList.forEach(function(item) {     %>
                    <li class="todoItems"> <%= item.content %> </li>
               <% }); %>
            </ul>
        </div>
    </div>

<script src="/javascripts/todo.js"></script>

<% include partials/footer %>