<% include partials/header %>
    <h1>This page is for todo app</h1>

    <div id="todobkg">
        <div id="frame">
            <ul class="content">
                <li class="todoTitle">
                    <h3>Todo List</h3>
                    <div class="dropdown">
                            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                            <div class="dropdown-content">
                                <a  class="option" id='undoall' href="#">Undo all</a>
                                <a  class="option" id='finishall' href="#">Finish all</a>
                                <a  class="option" id='deleteall' href="#">Delete all</a>
                            </div>
                    </div>

                </li>
                <form action="todo/" method="post">
                    <input type="text" placeholder="Add an item" name="content">
                </form>
                <% todoList.forEach(function(item) {     %>
                    <li class="todoItems">
                        <span class="delete"><i class="fa fa-trash fa-lg"></i></span>
                        <span class="todoContent"><%= item.content %></span>
                    </li>
               <% }); %>
            </ul>
        </div>
    </div>

<script src="/javascripts/todo.js"></script>

<% include partials/footer %>