/*for label*/

/*for class*/

/*center the nav bar*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*center the nav bar*/


.navbar-brand {
    font-size: 1.6em;
    line-height: 1.9em;
}


.seperator {
    text-align: center;
    padding: 20px 0;

}


.header {
    text-align: center;
    background: url("../images/backgroundimg.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
}

.header > .container {
      padding-top: 15%;
  }


.supporttext {
    font-size: 2rem;
    color: #f2f2f2;
    line-height: 10px;

}

.keytext {
    font-size: 3.5rem;
    color: #f2f2f2;
}


.section {
    font-size: 2.0em;
    width: 90%;
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
    border: solid black 2px;
}

.logo {
    width: 60%;
}


.logo.techType {
    width: 80%;
    padding: 10% 20%;
    margin: 0 0;
    border-radius: 25px;
    background-color: #C8C8C8;
}

.logo.examples {
    padding-left: 5%;
}


.examples:hover {
    width: 70%;
}

/*the style below is for javascript*/
/*.logo.examples.mouseOn {*/
    /*width: 70%;*/
/*}*/



.line {
    text-decoration: line-through;
}


.seperator > .supporttext {
    color: #000;
    line-height: normal;
    font-size: 25px;
}


/*for id*/
#bs-example-navbar-collapse-1 {
    font-size: 1.4em;
}

