/*for label*/

/*for class*/

/*center the nav bar*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*center the nav bar*/


.navbar-brand {
    font-size: 1.6em;
    line-height: 1.9em;
}


.seperator {
    text-align: center;
    padding: 20px 0;

}


.header {
    text-align: center;
    background: url("../images/backgroundimg.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
}

.header > .container {
      padding-top: 15%;
  }


.supporttext {
    font-size: 2rem;
    color: #f2f2f2;
    line-height: 10px;

}

.keytext {
    font-size: 3.5rem;
    color: #f2f2f2;
}


.section {
    font-size: 2.0em;
    width: 90%;
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
    border: solid black 2px;
}

.logo {
    width: 60%;
}


.logo.techType {
    width: 80%;
    padding: 10% 20%;
    margin: 0 0;
    border-radius: 25px;
    background-color: #C8C8C8;
}

.logo.examples {
    padding-left: 5%;
}


.examples:hover {
    width: 70%;
}

/*the style below is for javascript*/
/*.logo.examples.mouseOn {*/
    /*width: 70%;*/
/*}*/



.line {
    text-decoration: line-through;
}


.seperator > .supporttext {
    color: #000;
    line-height: normal;
    font-size: 25px;
}


/*for id*/
#bs-example-navbar-collapse-1 {
    font-size: 1.4em;
}



/*for todo list*/
#todobkg {
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#frame {
    width: 450px;
    height: 80%;
    margin:0 auto;
    background-color: pink;
}

ul {
    list-style: none;
    padding-left: 0;
}


/*line-height: 100% means 100% of the font size for that element, not 100% of its height. */
/*In fact, the line height is always relative to the font size, not the height, */
/*unless its value uses a unit of absolute length (px, pt, etc).*/


.content li {
    width: 100%;
    height: 60px;
    margin:0 0;
}

.todoTitle h3{
    line-height: 60px;
    text-align: center;
    margin-top: 0;
    margin-left: 31px;     /* margin to offset the left-move from the plus sign*/
    display: inline-block;
}


input {
    height: 58px;
    padding: 1px 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
}


.fa-plus {
    line-height: 60px;
    padding-left:0;
    padding-right: 20px;
    margin:0 auto;
    float: right;
    font-size: 2.0em;
}


.todoTitle {
    font-size: 1.0em;
    text-align: center;
}