/*for label*/

/*for class*/

/*center the nav bar*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 10px auto;
}

.navbar .navbar-collapse {
    text-align: center;
}
/*center the nav bar*/


.nav li:hover {
    background-color: #80c1ff;
    transition: background-color 0.2s;
}


.navbar-brand {
    font-size: 1.6em;
    line-height: 1.9em;
}


.seperator {
    text-align: center;
    padding: 20px 0;

}


.header {
    text-align: center;
    background: url("../images/backgroundimg.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
}

.header > .container {
      padding-top: 15%;
  }


.supporttext {
    font-size: 2rem;
    color: #f2f2f2;
    line-height: 10px;

}

.keytext {
    font-size: 3.5rem;
    color: #f2f2f2;
}


.section {
    font-size: 2.0em;
    width: 90%;
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
}

.logo {
    width: 60%;
}


.logo.techType {
    width: 80%;
    padding: 10% 20%;
    margin: 0 0;
    border-radius: 25px;
    background-color: #C8C8C8;
}

.logo.examples {
    padding-left: 5%;
}


.examples:hover {
    width: 70%;
}

/*the style below is for javascript*/
/*.logo.examples.mouseOn {*/
    /*width: 70%;*/
/*}*/



.line {
    text-decoration: line-through;
}


.seperator > .supporttext {
    color: #000;
    line-height: normal;
    font-size: 25px;
}


/*for id*/
#bs-example-navbar-collapse-1 {
    font-size: 1.4em;
}



/*for todo list*/
/******************************/
#todobkg {
    width: 100%;
    height:1000px;
    padding-top: 100px;
    background: #B993D6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#frame {
    width: 450px;
    margin:0 auto;
    border: none;
    background-color: white;
    /*box shadow offset-x, offset-y, blur-radius, color*/
    box-shadow: 2px 2px 2px gray;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}


input {
    height: 50px;
    padding: 0 0 0 12px;
    border:none;
    box-sizing: border-box;  /*tell browser that the box size should include border*/
    width: 100%;
    line-height: 45px;
    font-size: 1.2em;
}



/*line-height: 100% means 100% of the font size for that element, not 100% of its height. */
/*In fact, the line height is always relative to the font size, not the height, */
/*unless its value uses a unit of absolute length (px, pt, etc).*/


.content li {
    width: 100%;
    line-height:50px;
    border:none;
    font-size: 1.2em;
}

.todoTitle {
    font-size: 1.0em;
    text-align: center;
    color: #FFFFFF;
    background-color: #0088cc;
}

.todoTitle h3{
    line-height: 50px;
    text-align: center;
    margin: 0 0 0 100px; /* margin to offset the left-move from the plus sign*/
    display: inline-block;
}


.delete {
    line-height: 50px;
    margin:0 10px 0 0;
    display: inline-block;      /*have to set as inline-block to enable the property of width*/
    width:0;
    color: white;
    text-align: center;
    background-color: red;
    opacity: 0;                 /*The text will still be there even the width is set to 0. Have to use opacity to hide it*/
}


li.todoItems:hover .delete {
    width: 50px;
    opacity: 1;
    transition: all 0.2s;
}

li.todoItems:hover {
    background-color: #CCCCCC;
}

.todoContent.done {
    text-decoration: line-through;
}

.todoItems:nth-of-type(2n) {
    background-color: #EEEEEE;
}
/*dropdown menu*/

.dropdown {
    display: inline-block;
    float: right;
    text-align: right;
    margin:0;
    padding-right: 15px;
    width: 100px;

}


.fa-bars {
    display: block;
    line-height: 50px;
    font-size: 1.5em;

}


.dropdown-content {
    display: none;
    margin:0;
    padding: 0;
    width: 100px;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.option {
    line-height: 40px;
    text-align: right;
    padding-right: 15px;
    color: white;
    display: block;
}

.dropdown:hover > .dropdown-content {
    display: block;
    background-color: #0088cc;

}

.option:hover {
    color: #000;
    background: #EEEEEE;
    text-decoration:  none;
}
